services:

  # --- TAILSCALE PROXY
  # Dashboard port: 81
  # Exposes ports: 80, 81, 443
  nginx-ts:
    image: tailscale/tailscale:latest
    container_name: nginx-ts
    hostname: "{{ server.hostname }}-docker-proxy"
    restart: unless-stopped
    volumes:
      - ${PWD}/tailscale/state:/var/lib/tailscale
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
      - sys_module
    environment:
      - TS_AUTHKEY=${TAILSCALE_AUTHKEY}
      - TS_USERSPACE=false
      - TS_STATE_DIR=/var/lib/tailscale
    networks:
      - proxy
    healthcheck:
      # Check if Tailscale network interface is loaded
      test: ["CMD-SHELL", " ip a | grep -q tailscale"]

  # --- PROXY
  nginx:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: nginx
    restart: unless-stopped
    network_mode: service:nginx-ts
    volumes:
      - ${PWD}/nginx/data:/data
      - ${PWD}/nginx/letsencrypt:/etc/letsencrypt
    healthcheck:
      test: ["CMD", "/usr/bin/check-health"]
      interval: 10s
      timeout: 3s
    depends_on:
      nginx-ts:
        condition: service_healthy

  # --- WATCHDOG
  watchtower:
    container_name: watchtower
    image: containrrr/watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  # --- MEDIA
  # Exposes ports: 8096
  jellyfin:
    container_name: jellyfin
    image: ghcr.io/hotio/jellyfin:latest
    restart: unless-stopped
    environment:
      - PUID={{ user.PUID }}
      - PGID={{ user.PGID }}
      - UMASK=002
      - TZ={{ server.timezone }}
    volumes:
      - ${PWD}/jellyfin/config:/config
      - "{{ server.volumes.media_library.path }}:/data" # Shared media library
    # Hardware acceleration
    group_add:
      - "105" # render group
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128 # Intel graphics
    networks:
      - proxy
    depends_on:
      nginx:
        condition: service_healthy

  # Exposes ports: 8080
  qbittorrent:
    container_name: qbittorrent
    image: ghcr.io/hotio/qbittorrent:latest
    restart: unless-stopped
    environment:
      - PUID={{ user.PUID }}
      - PGID={{ user.PGID }}
      - UMASK=002
      - TZ={{ server.timezone }}
    volumes:
      - ${PWD}/qbittorrent/config:/config
      - "{{ server.volumes.media_library.path }}:/data" # Shared media library
    networks:
      - media
      - proxy
    depends_on:
      nginx:
        condition: service_healthy

  # Exposes ports: 8989
  sonarr:
    container_name: sonarr
    image: ghcr.io/hotio/sonarr:latest
    restart: unless-stopped
    environment:
      - PUID={{ user.PUID }}
      - PGID={{ user.PGID }}
      - UMASK=002
      - TZ={{ server.timezone }}
    volumes:
      - ${PWD}/sonarr/config:/config
      - "{{ server.volumes.media_library.path }}:/data" # Shared media library
    networks:
      - media
      - proxy
    depends_on:
      nginx:
        condition: service_healthy

  # Exposes ports: 7878
  radarr:
    container_name: radarr
    image: ghcr.io/hotio/radarr:latest
    restart: unless-stopped
    environment:
      - PUID={{ user.PUID }}
      - PGID={{ user.PGID }}
      - UMASK=002
      - TZ={{ server.timezone }}
    volumes:
      - ${PWD}/radarr/config:/config
      - "{{ server.volumes.media_library.path }}:/data" # Shared media library
    networks:
      - media
      - proxy
    depends_on:
      nginx:
        condition: service_healthy

  # Exposes ports: 6767
  bazarr:
    container_name: bazarr
    image: ghcr.io/hotio/bazarr:latest
    restart: unless-stopped
    environment:
      - PUID={{ user.PUID }}
      - PGID={{ user.PGID }}
      - UMASK=002
      - TZ={{ server.timezone }}
    volumes:
      - ${PWD}/bazarr/config:/config
      - "{{ server.volumes.media_library.path }}:/data" # Shared media library
    networks:
      - media
      - proxy
    depends_on:
      nginx:
        condition: service_healthy

  # Exposes ports: 9696
  prowlarr:
    container_name: prowlarr
    image: ghcr.io/hotio/prowlarr:latest
    restart: unless-stopped
    environment:
      - PUID={{ user.PUID }}
      - PGID={{ user.PGID }}
      - UMASK=002
      - TZ={{ server.timezone }}
    volumes:
      - ${PWD}/prowlarr/config:/config
    networks:
      - media
      - proxy
    depends_on:
      nginx:
        condition: service_healthy

networks:
  proxy:
  media:
